body, p, h1 {
	font-family: sans-serif;
	padding: 0;
	margin: 0;
}

body {
	font-size: 14px;

	align-items: center;
}

body > section {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	width: 100%;
	padding-left: auto;
	padding-right: auto;
}

.content-wrap {
	width: 100%;
	height: 100%;
	max-width: 1020px;
	min-width: 1020px;
	margin: 0;
	padding: 0;
}

.page-header {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.page-header .content-wrap {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.main-menu {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	margin-top: 60px;
	height: 80px;
	width: 805px;
}

.new {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.new > .content-wrap > h2 {
	margin: auto auto 0 0;
}

.new .content-wrap {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	max-width: 800px;
	min-width: 800px;
}

.new-list {
	padding: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 105px;
	margin-bottom: 115px;
	height: 740px;
}

.new-list-item {
	display: flex;
	flex-direction: column;
	justify-content: space-around;

	padding: 0 35px 0 35px;
	position: relative;
	width: 398px;
	margin: 0;
	border-left: 1px solid lightgray;
	border-right: 1px solid lightgray;
}

.new-list-item h2 {
	margin-bottom: 35px; 
}

.new-list-item p {
	margin-top: 0;
	margin-bottom: auto;
	font-size: 16px;
	line-height: 26px;
	color: #6c6c6c;
	font-weight: 500;
}

.new-property {
	margin: 0;
	position: absolute;
	top: 0; right: 0;
	width: 175px;
	height: 145px;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.new-property table {
	height: 80px;
	margin: 0;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 16px;
	border-bottom: 1px solid lightgray;
}

.new-property td {
	height: 20px;
	vertical-align: top;
}

.new-property tr:first-child td {
	vertical-align: middle;
}

.new-property td:first-child {
	width: 80px;
}

.new-property p {
	margin-top: 15px;
}

.control {
	margin-bottom: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin: 0;
}

.control .btn:nth-child(1) {
	background: white;
	color: #854603;
}

.control .btn:nth-child(2) {
	margin-left: 10px;
	margin-right: auto;
}

.features .content-wrap {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.features-list {
	padding: 0;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.features-list-item {
	position: relative;
	width: 250px;
	height: 240px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.features-list-item::after {
	position: absolute;
	right: -75px;
	content: "";
	width: 1px;
	height: inherit;
	background-color: #e7b66a;
}

.features-list-item:last-child::after {
	background: none;
}

.features-list-item h3 {
	margin: 100px 0 0 0;
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;
}

.features-list-item h3::before {
	position: absolute;
	display: inline-block;
	width: 74px;
	height: 70px;
	top: 0; left: 0;
	content: "";
	background: url("../img/features-icons.png") no-repeat;
	background-size: 222px 64px;
}

.features-list-item:nth-child(2) h3::before {
	background-position-x: -79px;
}

.features-list-item:nth-child(3) h3::before {
	background-position-x: -155px;
}

.features-list-item p {
	font-size: 19px;
	line-height: 30px;
	color: #505050;
	margin: 35px 0 auto 0;
}

.history * {
	padding: 0;
	margin: 0;
}

.history h2 {
	margin: 90px 0;
}

.history > .content-wrap {
	max-width: 800px;
	min-width: 800px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.history-article {
	margin: 0 0 75px 0;
	
	padding-right: 320px;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.history-article h3 {
	margin: 0 0 30px 0;
	text-transform: uppercase;
	font-size: 24px;
	font-weight: bold;
}

.history-article blockquote,
.history-article-aside cite {
	color: #505050;
	font-size: 16px;
	line-height: 30px;
	font-weight: 500;
}

.history-article-aside {
	position: absolute;
	top: 0; right: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.history-article-aside cite {
	margin: 0 0 30px 0;
}

.history-article-aside a {
	color: #854603;
	transition-duration: 0.4s;
}

.history-article-aside a:hover {
	text-shadow: 
		15px 0 40px black,
		-15px 0 40px black;
}		

.about > .content-wrap {
	max-width: 800px;
	min-width: 800px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.about h2 {
	margin: 90px 0;
}

.about-quote {
	position: relative;
	margin: 0 0 auto 0;
}

.about-quote::before {
	content: "";
	position: absolute;
	display: block;
	top: 0; left: -119px;
	width: 64px;
	height: 64px;
	background: url(../img/quotes.png) 50% 50%;
}

.about-quote p {
	color: #505050;
	font-size: 16px;
	line-height: 30px;
	font-weight: 500;
	margin-bottom: 35px;
}

.about-quote .btn {
	background: none;
	border-color: #a4a097;
	color: #a4a097;
}

.about-quote cite {
	position: absolute;
	right: 0;
	text-transform: uppercase;
	font-weight: bold;
	font-style: normal;
	font-size: 20px;
	line-height: 51px;
	vertical-align: middle;
}

.assortiment .content-wrap {
	max-width: 800px;
	min-width: 800px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.assortiment h2 {
	margin: 90px 0;
}

.assortiment table {
	margin-bottom: 90px;
	border-collapse: collapse;
}

.assortiment table td {
	height: 65px;
	border-bottom: 1px solid lightgray;
	border-top: 1px solid lightgray; 
	color: #505050;
	font-size: 16px;
	text-transform: uppercase;
	text-align: center;
}

.assortiment td.assortiment-name,
.assortiment th.assortiment-name {
	width: 400px;
	color: black;
	font-weight: bold;
	text-align: left;
}

.assortiment td.assortiment-price,
.assortiment th.assortiment-price {
	text-align: right;
	width: 190px;
}

.assortiment th.assortiment-name,
.assortiment th {
	color: #a1a1a1;
	font-weight: normal;
	font-size: 11px;
	height: 65px;
	vertical-align: top;
	text-transform: uppercase;
}

.assortiment table sup {
	margin-left: 20px;
	padding: 1px 5px;
	font-size: 8px;
	font-weight: normal;
	background: black;
	color: white;
	vertical-align: middle;
}

.order-form .content-wrap {
	max-width: 800px;
	min-width: 800px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.order-form h2 {
	margin: 90px 0;
}

.order-form b {
	color: #404040;
	font-size: 16px;
	line-height: 30px;
	font-weight: 500;
	margin-bottom: 35px;
}

.order-form form {
	height: 620px;
	margin: 0 0 auto 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.order-form form p {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 5px 0;
}

.order-form label {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 16px;
	line-height: 51px;
	width: 200px;
}

.order-form input[type="text"],
.order-form input[type="text"]::-webkit-input-placeholder,
.order-form select,
.order-form select > option,
.order-form textarea,
.order-form textarea::-webkit-input-placeholder {
	width: 600px;
	height: 50px;
	line-height: 50px;
	background: rgb(230,182,108);
	text-transform: uppercase;
	font-weight: bold;
	font-size: 16px;
	color: #a0804d;
	border: none;
	transition-duration: 0.6s;
}

.order-form select,
.order-form *::-webkit-input-placeholder {
	padding-left: 20px;
}

.order-form label.phone-number {
	text-align: center;	
}

.order-form input[type="text"].phone-number {
	width: 200px;
}

.order-form *:focus::-webkit-input-placeholder {
	color: transparent;
}

.order-form p:nth-child(3) {
	margin-bottom: auto;
}

.order-form label.subscribe {
	margin: 30px 0 30px 200px;
	width: 600px;
}

.order-form textarea {
	height: 150px;
	width: 600px;
	resize: none;
	overflow: hidden;
}

.order-form input.subscribe {
	display: none;
}

.order-form span.subscribe-custom {
	position: relative;
	display: inline-block;
	margin-right: 20px;
	width: 35px;
	height: 35px;
	vertical-align: middle;
	background: rgb(230,182,108);
	transition-duration: 0.6s;
}

.order-form input[type="checkbox"]:checked + span.subscribe-custom::before {
	content: "";
	display: block;
	top: 5px;
	left: 10px;
	width: 10px;
	height: 20px;
	border-right: 2px solid black;
	border-bottom: 2px solid black;
	transform: rotate(45deg);
	position: absolute;
}

.order-form input[type="submit"].btn {
	width: 200px;
	line-height: 44px;
	margin: 0 0 0 200px;
}

.order-form span.subscribe-custom:hover,
.order-form input:hover,
.order-form select:hover,
.order-form textarea:hover {
	box-shadow: 0 0 20px 2px rgba(0,0,0,0.5);
}

.page-footer .content-wrap {
	max-width: 1020px;
	min-width: 1020px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.page-footer .footer-top,
.page-footer .footer-bottom,
.page-footer .footer-menu,
.page-footer .social {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.page-footer .footer-top {
	margin-bottom: 45px; 
	margin-top: auto;
}

.page-footer .footer-bottom {
	margin-bottom: auto; 
	margin-top: 0;
}

.page-footer .footer-menu,
.page-footer .social {
	list-style: none;
	padding: 0;
	margin: 0;
}

.page-footer .footer-top,
.page-footer .footer-bottom {
	width: 1020px;
	height: 76px;
}

.page-footer .footer-top img {
	padding: 0 41px;
}

.page-footer .footer-menu {
	margin-right: auto;
	margin-left: 90px;
	
	width: 600px;
}

.page-footer .footer-menu a {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 16px;
	color: white;
	text-decoration: none;
	transition-duration: 0.4s;
}

.page-footer .footer-menu a:hover {
	text-shadow: 
		15px 0 40px white,
		-15px 0 40px white,
		0 5px 40px white,
		0 -5px 40px white;
}

.page-footer .social a {
	color: transparent;
	position: relative;
	display: inline-block;
	width: 74px;
	height: 65px;
	background: #333333;
	transition-duration: 0.4s;
}

.page-footer .social li:nth-of-type(2) a {
	background: #666666;
}

.page-footer .social li:hover a {
	background-color: rgba(255,255,255,0.1);
}

.page-footer .social a::after {
	content: "";
	position: absolute;
	top: 25px; left: 29px;
	width: 14px;
	height: 14px;
	background: url(../img/social-sprite.png) no-repeat 50% 50%;
	background-size: 42px 14px;
}

.page-footer .social li:nth-of-type(1) a::after {
	background-position: 0 0;
}

.page-footer .social li:nth-of-type(2) a::after {
	background-position: -15px 0;
}

.page-footer .social li:nth-of-type(3) a::after {
	background-position: -28px 0;
}

.page-footer b.copyright {
	color: #969696;
	width: 220px;
	display: inline-block;
	font-weight: normal;
	margin-left: 85px;
	margin-right: auto;
}

.page-footer b.link {
	display: inline-block;
	height: 74px;
	padding-top: 40px;
}
	
.page-footer b.link,
.page-footer b.link a {
	vertical-align: top;
	position: relative;
	font-weight: bold;
	color: #969696;
	text-decoration: none;
	transition-duration: 0.4s;
}

.page-footer .academy-icon {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 64px;
	height: 64px;
	background: #333333;
	margin-right: 20px;
}

.page-footer b.link a:hover {
	text-shadow: 
		15px 0 40px white,
		-15px 0 40px white,
		0 5px 40px white,
		0 -5px 40px white;
}