body, p, h1 {
	font-family: sans-serif;
	padding: 0;
	margin: 0;
}

body {
	font-size: 14px;

	align-items: center;
}

body > div {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	width: 100%;
	padding-left: auto;
	padding-right: auto;
}

.content-wrap {
	width: 100%;
	height: 100%;
	max-width: 1020px;
	min-width: 1020px;
	margin: 0;
	padding: 0;
}

.page-header {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.page-header .content-wrap {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.header-top {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	margin-top: 60px;
	height: 80px;
	width: 805px;
}

.new {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

}

.new-list {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.new-list-item {
	width: 400px;
}

.features-list {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.features ul {
	list-style: none;
}

.history dd {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
}