* {
	transition-duration: .4s;
}

.about {
	background: #ede5d8;
	height: 490px;
}

.about .quote {
	align-items: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 0 0 auto;
	position: relative;
}

.about .quote .btn {
	background: none;
	border-color: #a4a097;
	color: #a4a097;
	margin-right: auto;
}

.about .quote cite {
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: 51px;
	margin-left: auto;
	text-transform: uppercase;
	vertical-align: middle;
}

.about .quote p {
	color: #505050;
	font-weight: 500;
	line-height: 30px;
	margin-bottom: 35px;
}

.about .quote::before {
	background: url(../img/quotes.png) 50% 50%;
	content: "";
	display: block;
	height: 64px;
	left: -119px;
	position: absolute;
	top: 0;
	width: 64px;
}

.assortiment {
	height: 635px;
}

.assortiment table {
	border-collapse: collapse;
	margin-bottom: 90px;
}

.assortiment table sup {
	background: #000;
	color: #FFF;
	font-size: 8px;
	font-weight: 400;
	margin-left: 20px;
	padding: 1px 5px;
	vertical-align: middle;
}

.assortiment table td {
	border-bottom: 1px solid lightgray;
	border-top: 1px solid lightgray;
	color: #505050;
	height: 65px;
	text-align: center;
	text-transform: uppercase;
}

.assortiment td.name,.assortiment th.name {
	color: #000;
	font-weight: 700;
	text-align: left;
	width: 400px;
}

.assortiment td.price,.assortiment th.price {
	text-align: right;
	width: 190px;
}

.assortiment th.name,.assortiment th {
	color: #a1a1a1;
	font-size: 11px;
	font-weight: 400;
	height: 65px;
	text-transform: uppercase;
	vertical-align: top;
}

.btn {
	background: #854603;
	border: 2px solid #854603;
	color: #FFF;
	display: inline-block;
	font-weight: 700;
	height: 47px;
	letter-spacing: 1px;
	line-height: 47px;
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	vertical-align: middle;
}

.btn:active {
	box-shadow: 0 0 15px 0 #000;
	color: #000;
}

.btn:hover {
	box-shadow: 0 0 30px 0 #000;
}

.content-wrap {
	height: 100%;
	margin: 0;
	max-width: 1020px;
	min-width: 1020px;
	padding: 0;
	width: 100%;
}

.control {
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0;
}

.control .btn:nth-child(1) {
	background: #FFF;
	color: #854603;
}

.control .btn:nth-child(2) {
	margin-left: 10px;
	margin-right: auto;
}

.control .price {
	display: inline-block;
	margin-right: 0;
}

.features {
	background: #ffcb78;
	height: 405px;
}

.features .content-wrap,.page-footer .top,.page-footer .bottom,.page-footer .menu,.page-footer .social {
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.features .list {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0;
	width: 100%;
}

.features .list .item {
	display: flex;
	flex-direction: column;
	height: 240px;
	justify-content: space-between;
	position: relative;
	width: 250px;
}

.features .list .item h3 {
	font-weight: 700;
	margin: 100px 0 0;
	text-transform: uppercase;
}

.features .list .item h3::before {
	background: url(../img/features-icons.png) no-repeat;
	background-size: 222px 64px;
	content: "";
	display: inline-block;
	height: 70px;
	left: 0;
	position: absolute;
	top: 0;
	width: 74px;
}

.features .list .item p {
	color: #505050;
	font-size: 19px;
	line-height: 30px;
	margin: 35px 0 auto;
}

.features .list .item::after {
	background-color: #e7b66a;
	content: "";
	height: inherit;
	position: absolute;
	right: -75px;
	width: 1px;
}

.features .list .item:hover,.history .article:hover,.about .quote:hover,.assortiment table:hover {
	transform: scale(1.05);
}

.features .list .item:last-child::after {
	background: none;
}

.features .list .item:nth-child(2) h3::before {
	background-position-x: -79px;
}

.features .list .item:nth-child(3) h3::before {
	background-position-x: -155px;
}

.history {
	height: 715px;
}

.history .article {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 0 0 75px;
	padding-right: 320px;
	position: relative;
}

.history .article .aside {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: absolute;
	right: 0;
	top: 0;
}

.history .article .aside a {
	color: #854603;
}

.history .article .aside a:hover {
	text-shadow: 15px 0 40px black,-15px 0 40px #000;
}

.history .article .aside cite {
	margin: 0 0 30px;
}

.history .article blockquote,.history .article .aside cite {
	color: #505050;
	font-weight: 500;
	line-height: 30px;
}

.history .article h3 {
	font-weight: 700;
	margin: 0 0 30px;
	text-transform: uppercase;
}

.history > .content-wrap,.about > .content-wrap,.assortiment .content-wrap,.order-form .content-wrap {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	max-width: 800px;
	min-width: 800px;
}

.history h3,.history .story {
	margin: 0;
	padding: 0;
}

.menu {
	align-items: center;
	display: flex;
	flex-direction: row;
	height: 80px;
	justify-content: space-around;
	margin: 60px 0 0;
	padding: 0;
	width: 805px;
}

.menu a {
	color: #FFF;
	font-weight: 700;
	text-decoration: none;
	text-transform: uppercase;
}

.menu a:active {
	color: rgba(255,255,255,0.7);
}

.menu ul {
	align-items: center;
	box-shadow: 0 -20px 0 -19px rgba(255,255,255,0.3),0 20px 0 -19px rgba(255,255,255,0.3);
	display: flex;
	flex-direction: row;
	height: 60px;
	justify-content: space-around;
	letter-spacing: 0;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 610px;
}

.new {
	display: flex;
	flex-direction: column;
	height: 1090px;
	justify-content: space-between;
}

.new .content-wrap {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	max-width: 800px;
	min-width: 800px;
}

.new .list {
	display: flex;
	flex-direction: row;
	height: 740px;
	justify-content: space-between;
	margin-bottom: 115px;
	margin-top: 105px;
	padding: 0;
}

.new .list .item {
	border-left: 1px solid lightgray;
	border-right: 1px solid lightgray;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin: 0;
	padding: 0 35px;
	position: relative;
	width: 398px;
}

.new .list .item p {
	color: #6c6c6c;
	font-weight: 500;
	line-height: 26px;
	margin-bottom: auto;
	margin-top: 0;
}

.new .list .item:hover {
	background: #FFF;
	transform: scale(1.05);
}

.new .list .item:hover + .item {
	border-left-color: transparent;
}

.new .property {
	display: flex;
	flex-direction: column;
	height: 145px;
	justify-content: space-between;
	margin: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 175px;
}

.new .property p {
	margin-top: 15px;
}

.new .property table {
	border-bottom: 1px solid lightgray;
	font-weight: 700;
	height: 80px;
	margin: 0;
	text-transform: uppercase;
}

.new .property td {
	height: 20px;
	vertical-align: top;
}

.new .property td:first-child {
	width: 80px;
}

.new .property tr:first-child td {
	vertical-align: middle;
}

.new h3 {
	font-size: 44px;
	margin: 0 0 35px;
}

.order-form {
	background: #ffcb78;
	height: 1080px;
}

.order-form .subscribe span.custom {
	background: #e6b66c;
	display: inline-block;
	height: 35px;
	margin-right: 20px;
	position: relative;
	vertical-align: middle;
	width: 35px;
}

.order-form .subscribe span.custom:hover,.order-form input:hover,.order-form select:hover,.order-form textarea:hover {
	box-shadow: 0 0 20px 2px rgba(0,0,0,0.5);
}

.order-form b {
	color: #404040;
	font-weight: 500;
	line-height: 30px;
	margin-bottom: 35px;
}

.order-form form {
	display: flex;
	flex-direction: column;
	height: 620px;
	justify-content: space-between;
	margin: 0 0 auto;
}

.order-form form p {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 5px 0;
}

.order-form input.subscribe,.invisible,.page-header input[type="radio"] {
	display: none;
}

.order-form input[type=checkbox]:checked + span.custom::before {
	border-bottom: 2px solid #000;
	border-right: 2px solid #000;
	content: "";
	display: block;
	height: 20px;
	left: 10px;
	position: absolute;
	top: 5px;
	transform: rotate(45deg);
	width: 10px;
}

.order-form input[type=submit].btn {
	line-height: 44px;
	margin: 0 0 0 200px;
	width: 200px;
}

.order-form input[type=text],.order-form input[type=text]::-webkit-input-placeholder,.order-form select,.order-form select > option,.order-form textarea,.order-form textarea::-webkit-input-placeholder {
	background: #e6b66c;
	border: none;
	color: #a0804d;
	font-size: 16px;
	font-weight: 700;
	height: 50px;
	line-height: 50px;
	text-transform: uppercase;
	width: 600px;
}

.order-form input[type=text].phone-number {
	width: 185px;
}

.order-form label {
	font-weight: 700;
	line-height: 51px;
	text-transform: uppercase;
	width: 200px;
}

.order-form label.phone-number {
	text-align: center;
}

.order-form label.subscribe {
	margin: 30px 0 30px 200px;
	width: 600px;
}

.order-form p:nth-child(3) {
	margin-bottom: auto;
}

.order-form select {
	width: 620px;
}

.order-form select,.order-form input[type="text"],.order-form textarea {
	padding-left: 20px;
}

.order-form textarea {
	height: 150px;
	overflow: hidden;
	resize: none;
	width: 600px;
}

.page-footer {
	background: #000;
	height: 305px;
}

.page-footer .academy-icon {
	align-items: center;
	background: #333;
	display: flex;
	height: 64px;
	justify-content: space-around;
	margin-right: 20px;
	width: 64px;
}

.page-footer .bottom {
	margin-bottom: auto;
	margin-top: 0;
}

.page-footer .content-wrap {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	max-width: 1020px;
	min-width: 1020px;
}

.page-footer .menu a {
	color: #FFF;
	font-weight: 700;
	text-decoration: none;
	text-transform: uppercase;
}

.page-footer .menu a:hover,.page-footer b.link a:hover,.menu a:hover {
	text-shadow: 15px 0 40px white,-15px 0 40px white,0 5px 40px white,0 -5px 40px #FFF;
}

.page-footer .menu,.page-footer .social {
	list-style: none;
	margin: 0;
	padding: 0;
}

.page-footer .menu {
	margin-left: 90px;
	margin-right: auto;
	width: 600px;
}

.page-footer .social a {
	background: #333;
	color: transparent;
	display: inline-block;
	height: 65px;
	position: relative;
	width: 74px;
}

.page-footer .social a::after {
	background: url(../img/social-sprite.png) no-repeat 50% 50%;
	background-size: 42px 14px;
	content: "";
	height: 14px;
	left: 29px;
	position: absolute;
	top: 25px;
	width: 14px;
}

.page-footer .social li:hover a {
	background-color: rgba(255,255,255,0.1);
}

.page-footer .social li:nth-of-type(1) a::after {
	background-position: 0 0;
}

.page-footer .social li:nth-of-type(2) a {
	background: #666;
}

.page-footer .social li:nth-of-type(2) a::after {
	background-position: -15px 0;
}

.page-footer .social li:nth-of-type(3) a::after {
	background-position: -28px 0;
}

.page-footer .top {
	margin-bottom: 45px;
	margin-top: auto;
}

.page-footer .top img {
	padding: 0 41px;
}

.page-footer .top,.page-footer .bottom {
	height: 76px;
	width: 1020px;
}

.page-footer b.copyright {
	color: #969696;
	display: inline-block;
	font-weight: 400;
	margin-left: 85px;
	margin-right: auto;
	width: 220px;
}

.page-footer b.link {
	display: inline-block;
	height: 74px;
	padding-top: 40px;
}

.page-footer b.link,.page-footer b.link a {
	color: #969696;
	font-weight: 700;
	position: relative;
	text-decoration: none;
	vertical-align: top;
}

.page-header {
	align-items: center;
	background: url(../img/header-background.jpg) no-repeat 50% 50%;
	background-size: cover;
	display: flex;
	flex-direction: column;
	height: 550px;
	justify-content: space-between;
}

.page-header .content-wrap {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
}

.page-header b {
	color: #FFF;
	display: none;
	font-size: 70px;
	font-weight: 700;
	line-height: 70px;
	margin: 0 0 auto;
	position: relative;
	text-align: center;
}

.page-header input[type="radio"]:checked + label {
	background: #fff;
}

.page-header input[type="radio"]:checked + label + b {
	display: block;
}

.page-header label:nth-of-type(1) {
	left: 42%;
}

.page-header label:nth-of-type(2) {
	left: 47%;
}

.page-header label:nth-of-type(3) {
	left: 52%;
}

.slider {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 250px;
	justify-content: space-around;
	margin: auto 0 40px;
	position: relative;
	width: 100%;
}

.slider label {
	background: rgba(255,255,255,0.5);
	bottom: 35px;
	display: inline-block;
	height: 15px;
	position: absolute;
	width: 15px;
}

.slider label:hover {
	box-shadow: 0 0 20px 0 white,0 0 10px 0 #000;
	transform: scale(1.2);
}

a.logo-link:hover img,a.academy-icon:hover img {
	filter: drop-shadow(0 0 10px rgba(255,255,255,0.5));
	transform: scale(1.1);
}

body {
	font-family: "Arial",sans-serif;
	font-size: 16px;
	min-width: 1180px;
}

body > section {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-left: auto;
	padding-right: auto;
	width: 100%;
}

body,p,h1,h2,h3 {
	margin: 0;
	padding: 0;
}

button.btn {
	border: none;
	height: 51px;
	line-height: 51px;
	padding-left: 24px;
	padding-right: 24px;
}

h2 {
	font-size: 44px;
	margin: 90px 0 auto;
	text-transform: uppercase;
}

h3 {
	font-size: 24px;
	text-transform: uppercase;
}